.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border: 1p solid gray;
    border-radius: 100%;
    width: 30px;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}